<style>
    p {
        display: block !important;
        margin-block-start: 0em !important;
        margin-block-end: 0em !important;
        margin-inline-start: 0px !important;
        margin-inline-end: 0px !important;
    }
</style>
<div style="width: 100% !important;">
    <!-- <table style="width: 100%; margin-top: 20px;">
      <tr>
        <td style="text-align: center; padding-bottom: 15px;">
          <h6 style="margin: 0px; padding: 0px;">
            <span style="color: #F44439;">วาระ / Agenda : </span
            ><span> <%= data.length; %></span>
          </h6>
        </td>
      </tr>
    </table> -->
    <% if(data.length > 0){ %>
        <table style="width: 100%; margin-top: 10px;">
          <tr>
            <td style="padding: 0px 10px;">
              <table style="width: 100%;">
                <% for (var i = 0; i < data.length;  i++ ) { %>
               
                <% if(i == 0 || i % 2 == 0){ var c = 1; %>
                <tr style="margin-top: 20px; margin-bottom: 20px;">
                <% } %>
    
                  <td>
                    <table style="width: 100%;">
                      <tr>
                        <!-- <td>
                          <div style="width: 10px; height: 10px; border: 1px solid gray;"></div>
                        </td> -->
                        <td style="padding-bottom: 16px; padding-top: 16px;">
                            <% if(data[i].pickedUpType == 1){ %>
                                <p style="color: red; font-weight: bold; margin-block-start: 0em !important; margin-block-end: 0em !important;">
                                    Incoming Parcel
                                </p>
                            <% } if(data[i].pickedUpType == 2){%>
                                <p style="color: red; font-weight: bold; margin-block-start: 0em !important; margin-block-end: 0em !important;">
                                    Outgoing Parcel
                                </p>
                            <% } if(data[i].id){%>
                            
                                <p class="p-0 m-0" style="margin-block-start: 0em !important; margin-block-end: 0em !important;">Parcel ID : <%= data[i].displayId %></p>
                            <% } if(data[i].pickedUpType == 1){%>
                                <%if(data[i].tenant){%>
                                    
                                    <p class="p-0 m-0" style="margin-block-start: 0em !important; margin-block-end: 0em !important; text-overflow: ellipsis; white-space: nowrap; width: 300px; overflow: hidden;">Recipient : <%= data[i].tenant %></p>
                                <% } if(!data[i].tenant){%>
                                    
                                    <p class="p-0 m-0" style="margin-block-start: 0em !important; margin-block-end: 0em !important; text-overflow: ellipsis; white-space: nowrap; width: 300px; overflow: hidden;">Recipient : <%= data[i].tenantData[0]?.name %></p>
                                <% } %>
                            <% } if(data[i].pickedUpType == 2){%>
                                
                                <p class="p-0 m-0" style="margin-block-start: 0em !important; margin-block-end: 0em !important; text-overflow: ellipsis; white-space: nowrap; width: 300px; overflow: hidden;">Recipient : <%= data[i].tenant %></p>
                            <% }%>
                            
                                <p class="p-0 m-0" style="margin-block-start: 0em !important; margin-block-end: 0em !important;">Unit No. : <%= data[i].unitNumber %></p>
                            
                                <p class="p-0 m-0" style="margin-block-start: 0em !important; margin-block-end: 0em !important;">Building Name : <%= data[i].buildingName %> - <%= data[i].buildingPhaseCode %></p>
                            <% if(data[i].pickedUpType == 1){%>
                            
                                <p class="p-0 m-0" style="margin-block-start: 0em !important; margin-block-end: 0em !important;">Tracking No. : <%= data[i].trackingNumber %></p>
                            <% }%>
                            
                                <p class="p-0 m-0" style="margin-block-start: 0em !important; margin-block-end: 0em !important;">Date : <%= data[i].createdAt %></p>
                            <% if(data[i].pickedUpType == 1){%>
                            
                                <p class="p-0 m-0" style="margin-block-start: 0em !important; margin-block-end: 0em !important;">Sender : <%= data[i].name %></p>

                            <% } if(data[i].pickedUpType == 2){%>
                                <%if(data[i].tenant){%>
                                    
                                    <p class="p-0 m-0" style="margin-block-start: 0em !important; margin-block-end: 0em !important;">Sender : <%= data[i].tenant %></p>
                                <% } if(!data[i].tenant){%>
                                    
                                    <p class="p-0 m-0" style="margin-block-start: 0em !important; margin-block-end: 0em !important;">Sender : <%= data[i].tenantData[0]?.name %></p>
                                <% } %>
                            <% }%>

                            <p class="p-0 m-0" style="margin-block-start: 0em !important; margin-block-end: 0em !important; text-overflow: ellipsis; white-space: nowrap; width: 300px; overflow: hidden;">Remark : <%= data[i]?.remarks %></p>
                        </td>
                        <td style="text-align: right; padding-top: 10px; padding-bottom: 10px;">
                          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png" alt="qr-code" width="100px">
                        </td>
                        
                      </tr>
                    </table>
                  </td>
    
                <% if(c == 2){ %>
                </tr>
                <% }else{ c++;} %>
    
                <% } %>
              </table>
            </td>
          </tr>
        </table>
      <%  } %>
</div>