<!-- <div style="width: 100% !important;">
<table style="width: 100%; margin-top: 20px;">
  <tr>
    <td>
      <h6 style="margin: 0px; padding: 0px;">
        <span style="color: #F44439;">Project Name : </span
        ><span>ABC PROJECT</span>
      </h6>
    </td>
    <td style="text-align: right;">
      <h6 style="margin: 0px; padding: 0px;">
        <span style="color: #F44439;">Date : </span
        ><span><%= agmDetails.formattedDate %></span>
      </h6>
    </td>
  </tr>
  <tr>
    <td>
      <h6 style="margin: 0px; padding: 0px;">
        <span style="color: #F44439;">Agenda : </span
        ><span><%= agenda.agendaName  %> / <%= agenda.agendaNameThai %> </span>
      </h6>
    </td>
    <td>
      
    </td>
  </tr>
</table>
<table style="width: 100%; margin-top: 20px;">
  <% for (var i = 0; i < agenda.choices.length;  i++ ) { %>
  <tr>
    <td>
      <div style="width: 10px; height: 10px; border: 1px solid gray;"></div>
    </td>
    <td>
      <p><%= agenda.choices[i].choiceValue %> / <%= agenda.choices[i].choiceValueThai %></p>
    </td>
    <td>
      <img src="<%= agenda.choices[i].qrCode %>" alt="qr-code" width="100px">
    </td>
  </tr>
  <% } %>
</table>
<table style="width: 100%; margin-top: 20px;">
  <tr>
    <td>
      <h6 style="margin: 0px; padding: 0px;">
        <span style="color: #F44439;">Unit No : </span
        ><span><%= propertyOwner.houseId %></span>
      </h6>
    </td>
    <td style="text-align: right;">
      <h6 style="margin: 0px; padding: 0px;">
        <span style="color: #F44439;">Ownership Ratio : </span
        ><span><%= propertyOwner.ownershipRatio %></span>
      </h6>
    </td>
  </tr>
</table>
</div> -->

<div style="width: 100% !important;">
  <table style="width: 100%; margin-top: 10px;">
    <tr>
      <td style="text-align: center; padding-bottom: 5px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">วาระ / Agenda : </span
          ><span>....</span>
        </h6>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding-bottom: 5px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">Company Name (Th)</span>
        </h6>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding-bottom: 5px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">Company Name (En)</span>
        </h6>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding-bottom: 5px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">ใบลงคะแนน / Voting sheet</span>
        </h6>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding-bottom: 5px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">วันที่ : </span
          ><span><%= agmDetails.formattedDate %></span> / 
          <span style="color: #F44439;">Date : </span
            ><span><%= agmDetails.formattedDate %></span>
        </h6>
      </td>
    </tr>
  </table>
  <table style="width: 100%; margin-top: 10px;">
    <tr>
      <td style=" padding-bottom: 5px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">วาระที่ 1: </span
          ><span><%= agenda.agendaName  %></span>
        </h6>
      </td>
    </tr>
    <tr>
      <td style=" padding-bottom: 5px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">Agenda 1: </span
          ><span><%= agenda.agendaName  %></span>
        </h6>
      </td>
    </tr>
  </table>
  <% if(agenda.choices.length <= 5){ %>
  <table style="width: 100%; margin-top: 10px;">
    <tr>
      <td style="padding: 0px 10px;">
        <table style="width: 100%;">
          <% for (var i = 0; i < agenda.choices.length;  i++ ) { %>
          <tr style="margin-top: 20px; margin-bottom: 20px;">
            <td>
              <div style="width: 10px; height: 10px; border: 1px solid gray;"></div>
            </td>
            <td>
              <small><%= agenda.choices[i].choiceValue %> / <%= agenda.choices[i].choiceValueThai %></small>
            </td>
            <td>
              <img src="<%= agenda.choices[i].qrCode %>" alt="qr-code" width="100px">
            </td>
          </tr>
          <% } %>
        </table>
      </td>
    </tr>
  </table>
  <% }else{ %>
    <table style="width: 100%; margin-top: 10px;">
      <tr>
        <td style="padding: 0px 10px;">
          <table style="width: 100%;">
            <% for (var i = 0; i < agenda.choices.length;  i++ ) { %>
           
            <% if(i == 0 || i % 2 = 0){ %>
            <tr style="margin-top: 20px; margin-bottom: 20px;">
            <% } %>

              <td>
                <table>
                  <tr>
                    <td style="text-align: center;">
                      <div style="width: 10px; height: 10px; border: 1px solid gray;"></div>
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: center;">
                      <img src="<%= agenda.choices[i].qrCode %>" alt="qr-code" width="100px">
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: center;">
                      <small><%= agenda.choices[i].choiceValue %> / <%= agenda.choices[i].choiceValueThai %></small>
                    </td>
                  </tr>
                </table>
              </td>

            <% if(i == 0 || i % 2 = 0){ %>
            </tr>
            <% } %>
            
            <% } %>
          </table>
        </td>
      </tr>
    </table>
  <% } %>
  <table style="width: 100%; margin-top: 10px;">
    <tr>
      <td colspan="3" style=" padding-bottom: 5px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">ในฐานะ / In capacity of</span>
        </h6>
      </td>
    </tr>
    <tr>
      <td style="padding: 0px 10px;">
        <table style="width: 100%;">
          <tr>
            <td>
              <div style="width: 10px; height: 10px; border: 1px solid gray;"></div>
            </td>
            <td>
              <small style="padding: 0px; margin: 0px;">เจ้ าของห้ องชุด / Co-owner</small>
            </td>
            <td>
              <small style="padding: 0px; margin: 0px;">ลงชื่อ / Sign ___________</small>
            </td>
          </tr>
          <tr>
            <td>
              <div style="width: 10px; height: 10px; border: 1px solid gray;"></div>
            </td>
            <td>
              <small style="padding: 0px; margin: 0px;">ตัวแทน / Proxy</small>
            </td>
            <td>
              <small style="padding: 0px; margin: 0px;">(_____________________)</small>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table style="width: 100%; margin-top: 10px;">
    <tr>
      <td style="padding-top: 10px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">ห้ องชุดเลขที่ / Unit No : </span
          ><span><%= propertyOwner.houseId %></span>
        </h6>
      </td>
    </tr>
    <tr>
      <td style="text-align: left; padding-top: 10px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">อัตาส่วนกรรมสิทธิ์ / Ownership Ratio : </span
          ><span><%= propertyOwner.ownershipRatio %></span>
        </h6>
      </td>
    </tr>
  </table>
  </div>