<div style="width: 100% !important; position: relative;">
  <% if(agenda.plants.length <= 3){ %>
  <table style="width: 100%; margin-top: 0px;">
    <tr>
      <td style="padding: 0px 10px;">
        <table style="width: 100%;">
          <% for (var i = 0; i < agenda.plants.length;  i++ ) { %>
          <tr>
            <td>
              <div style="width: 10px; height: 10px; border: 1px solid gray;"></div>
            </td>
            <td>
              <small><%= agenda.plants[i].plantId %></small>
              <br>
              <small><%= moment(Number(agenda.plants[i].createdAt)).format('DD/MM/YYYY') %></small>
            </td>
            <td style="text-align: right; padding-top: 30px; padding-bottom: 30px;"">
              <img src="<%= agenda.plants[i].qrCode %>" alt="qr-code" width="120px">
            </td>
          </tr>
          <% } %>
        </table>
      </td>
    </tr>
  </table>
  <% }else if(agenda.plants.length > 3 && agenda.plants.length <= 5){ %>
    <table style="width: 100%; margin-top: 0px;">
      <tr>
        <td style="padding: 0px 10px;">
          <table style="width: 100%;">
            <% for (var i = 0; i < agenda.plants.length;  i++ ) { %>
           
            <% if(i == 0 || i % 2 == 0){ var c = 1; %>
            <tr style="margin-top: 20px; margin-bottom: 20px;">
            <% } %>

              <td>
                <table style="width: 100%;">
                  <tr>
                    <td>
                      <div style="width: 10px; height: 10px; border: 1px solid gray;"></div>
                    </td>
                    <td style="padding-bottom: 30px; padding-top: 30px;">
                      <small><%= agenda.plants[i].plantId %></small>
                      <br>
                      <small><%= moment(Number(agenda.plants[i].createdAt)).format('DD/MM/YYYY') %></small>
                    </td>
                    <td style="text-align: right; padding-top: 30px; padding-bottom: 30px;">
                      <img src="<%= agenda.plants[i].qrCode %>" alt="qr-code" width="100px">
                    </td>
                    
                  </tr>
                </table>
              </td>

            <% if(c == 2){ %>
            </tr>
            <% }else{ c++;} %>

            <% } %>
          </table>
        </td>
      </tr>
    </table>
  <%  }else{ %>
    <table style="width: 100%; margin-top: 0px;">
      <tr>
        <td style="padding: 0px 10px;">
          <table style="width: 100%;">
            <% for (var i = 0; i < agenda.plants.length;  i++ ) { %>
           
            <% if(i == 0 || i % 4 == 0){ var c = 1; %>
            <tr style="margin-top: 10px; margin-bottom: 10px;">
            <% } %>

              <td>
                <table>
                  <tr>
                    <td style="text-align: center; padding-top: 0px; display: flex; justify-content: center;">
                      <!-- <div style="width: 10px; height: 10px; border: 1px solid gray; margin:auto 0; margin-right: 20px;"></div> -->
                      <img src="<%= agenda.plants[i].qrCode %>" alt="qr-code" width="135px">
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: center; padding-bottom: 20px; padding-top: 0px;">
                      <small><%= agenda.plants[i].plantId %></small>
                      <br>
                      <small><%= moment(Number(agenda.plants[i].createdAt)).format('DD/MM/YYYY') %></small>
                    </td>
                  </tr>
                </table>
              </td>

            <% if(c == 4){ %>
            </tr>
            <% }else{ c++;} %>

            <% } %>
          </table>
        </td>
      </tr>
    </table>
  <% } %>
</div>