<div style="width: 100% !important;">
  <table style="width: 100%; margin-top: 20px;">
    <tr>
      <td style="text-align: center; padding-bottom: 15px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">วาระ / Agenda : </span
          ><span> <%= agenda.agendaNo  %></span>
        </h6>
      </td>
    </tr>
    <!-- <tr>
      <td style="text-align: center; padding-bottom: 15px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">Company Name (Th)</span>
        </h6>
      </td>
    </tr> -->
    <tr>
      <td style="text-align: center; padding-bottom: 15px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;"><%= agmDetails.companyName %></span>
        </h6>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding-bottom: 15px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">ใบลงคะแนน / Voting sheet</span>
        </h6>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding-bottom: 15px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">วันที่ : </span
          ><span><%= agmDetails.formattedDate %></span> / 
          <span style="color: #F44439;">Date : </span
            ><span><%= agmDetails.formattedDate %></span>
        </h6>
      </td>
    </tr>
  </table>
  <table style="width: 100%; margin-top: 20px;">
    <tr>
      <td style=" padding-bottom: 15px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">วาระที่ <%= agenda.agendaNo  %>: </span
          ><span><%= agenda.agendaName  %></span>
        </h6>
      </td>
    </tr>
    <tr>
      <td style=" padding-bottom: 15px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">Agenda <%= agenda.agendaNo  %>: </span
          ><span><%= agenda.agendaNameThai  %></span>
        </h6>
      </td>
    </tr>
  </table>
  <% if(agenda.choices.length <= 3){ %>
  <table style="width: 100%; margin-top: 10px;">
    <tr>
      <td style="padding: 0px 10px;">
        <table style="width: 100%;">
          <% for (var i = 0; i < agenda.choices.length;  i++ ) { %>
          <tr>
            <td>
              <div style="width: 10px; height: 10px; border: 1px solid gray;"></div>
            </td>
            <td>
              <small><%= agenda.choices[i].choiceValue %> / <%= agenda.choices[i].choiceValueThai %></small>
            </td>
            <td style="text-align: right; padding-top: 30px; padding-bottom: 30px;"">
              <img src="<%= agenda.choices[i].qrCode %>" alt="qr-code" width="120px">
            </td>
          </tr>
          <% } %>
        </table>
      </td>
    </tr>
  </table>
  <% }else if(agenda.choices.length > 3 && agenda.choices.length <= 5){ %>
    <table style="width: 100%; margin-top: 10px;">
      <tr>
        <td style="padding: 0px 10px;">
          <table style="width: 100%;">
            <% for (var i = 0; i < agenda.choices.length;  i++ ) { %>
           
            <% if(i == 0 || i % 2 == 0){ var c = 1; %>
            <tr style="margin-top: 20px; margin-bottom: 20px;">
            <% } %>

              <td>
                <table style="width: 100%;">
                  <tr>
                    <td style="text-align: center;">
                      <div style="width: 10px; height: 10px; border: 1px solid gray;"></div>
                    </td>
                    <td style="text-align: center; padding-bottom: 30px; padding-top: 20px;">
                      <small><%= agenda.choices[i].choiceValue %> / <%= agenda.choices[i].choiceValueThai %></small>
                    </td>
                    <td style="text-align: center; padding-top: 30px; padding-bottom: 30px;">
                      <img src="<%= agenda.choices[i].qrCode %>" alt="qr-code" width="120px">
                    </td>
                    
                  </tr>
                </table>
              </td>

            <% if(c == 2){ %>
            </tr>
            <% }else{ c++;} %>

            <% } %>
          </table>
        </td>
      </tr>
    </table>
  <%  }else{ %>
    <table style="width: 100%; margin-top: 10px;">
      <tr>
        <td style="padding: 0px 10px;">
          <table style="width: 100%;">
            <% for (var i = 0; i < agenda.choices.length;  i++ ) { %>
           
            <% if(i == 0 || i % 3 == 0){ var c = 1; %>
            <tr style="margin-top: 20px; margin-bottom: 20px;">
            <% } %>

              <td>
                <table>
                  <tr>
                    <td style="text-align: center;">
                      <div style="width: 10px; height: 10px; border: 1px solid gray; margin:auto;"></div>
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: center; padding-top: 10px;">
                      <img src="<%= agenda.choices[i].qrCode %>" alt="qr-code" width="120px">
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: center; padding-bottom: 30px; padding-top: 10px;">
                      <small><%= agenda.choices[i].choiceValue %> / <%= agenda.choices[i].choiceValueThai %></small>
                    </td>
                  </tr>
                </table>
              </td>

            <% if(c == 3){ %>
            </tr>
            <% }else{ c++;} %>

            <% } %>
          </table>
        </td>
      </tr>
    </table>
  <% } %>
  <table style="width: 100%; margin-top: 10px;">
    <tr>
      <td colspan="3" style=" padding-bottom: 5px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">ในฐานะ / In capacity of</span>
        </h6>
      </td>
    </tr>
    <tr>
      <td style="padding: 0px 10px;">
        <table style="width: 100%;">
          <tr>
            <td>
              <div style="width: 10px; height: 10px; border: 1px solid gray;"></div>
            </td>
            <td>
              <small style="padding: 0px; margin: 0px;">เจ้ าของห้ องชุด / Co-owner</small>
            </td>
            <td style="text-align: right;">
              <small style="padding: 0px; margin: 0px;">ลงชื่อ / Sign ___________</small>
            </td>
          </tr>
          <tr>
            <td>
              <div style="width: 10px; height: 10px; border: 1px solid gray;"></div>
            </td>
            <td>
              <small style="padding: 0px; margin: 0px;">ตัวแทน / Proxy</small>
            </td>
            <td style="text-align: right;">
              <small style="padding: 0px; margin: 0px;">(_____________________)</small>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table style="width: 100%; margin-top: 10px;">
    <tr>
      <td style="padding-top: 10px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">ห้ องชุดเลขที่ / Unit No : </span
          ><span><%= propertyOwner.houseId %></span>
        </h6>
      </td>
    </tr>
    <tr>
      <td style="text-align: left; padding-top: 10px;">
        <h6 style="margin: 0px; padding: 0px;">
          <span style="color: #F44439;">อัตาส่วนกรรมสิทธิ์ / Ownership Ratio : </span
          ><span><%= propertyOwner.ownershipRatio %></span>
        </h6>
      </td>
    </tr>
  </table>
  </div>