<% /* Note: This is injected into `emails/layouts/default-layout.ejs` */ %>
<p style="margin-bottom: 25px;">Dear <%= fullName %>,</p>
<p style="margin-bottom: 25px;">Due to this reason: "<%= reason %>" your booking was cancelled.</p>
<ul>
    <li>Start Time: <%= bookingStartDateTime %></li>
    <li>Start Time: <%= bookingEndDateTime %></li>
    <li>Start Time: <%= noOfSeats %></li>
</ul>
<p style="margin-bottom: 5px;">Sincerely,</p>
<p style="margin-top: 0px;">The ServiceMind Team</p>