<% /* Note: This is injected into `emails/layouts/default-layout.ejs` */ %>
<!-- <p style="margin-bottom: 25px;">Dear <%= fullName %>,</p> -->
<p style="margin-bottom: 25px;">This facility Booking has been Booked , Please Approved this booking</p>
<h6>Booking Details</h6>
<ul>
    <li>Facility Name: <%= facilityName %></li>
    <li>Start Time: <%= bookingStartDateTime %></li>
    <li>End Time: <%= bookingEndDateTime %></li>
    <li>Booked Seats: <%= noOfSeats %></li>
</ul>
<p style="margin-bottom: 5px;">Sincerely,</p>
<p style="margin-top: 0px;">The ServiceMind Team</p>